*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 410vh;
    overflow-x: hidden;
}
.main-page{
    width: 100%;
    height: 100%;
}
.div-the-big-picture{
    height: 100vh;
    width: 100%;
    background-image: url('pictures/bg.png');
    background-size: cover;
    position: relative;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
.header{
    width: 100%;
    display: flex;
    padding-top: 2.5%;
    padding-bottom: 5px;
}
.e-shop{
    padding-left: 70px;
    color: red;
    width: 15%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar{
    display:flex;
    width: 40%;
}
.search-input-box{
    width: 100%;
    height: 6vh;  
    margin-left: 40%;
}
.box{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    outline: none;
}
.links{
    width: 35%;
}
.links ul{
    display: flex;
}
.links ul li{
    list-style: none;
    padding-top: 2%;
}
.links ul li a{
    text-decoration: none;
    padding-left: 40px;
    color: black;
}
.links ul li:hover{
    text-decoration: underline;
    text-underline-offset: 50%;
}
.header-icons{
    width: 10%;
}
.header-icons .icon{
    padding-left: 10%;
}
.bellow-header{
    width: 100%;
    height: 87vh;
    display: flex;
}
.div-shop-smarter{
    width: 60%;
    height: 100%;
}
.div-shop-smarter h1{
    padding-top: 25%;
    font-size: 50px;
    font-family:monospace ;
    padding-left: 15%;
}
.div-shop-smarter p{
    padding-left: 15%;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.div-shop-smarter h3{
    padding-left: 15%;
}
.div-shop-smarter h3 .explore{
    text-decoration: none;
    color: white;
    background-color: rgb(207, 44, 44);
    padding: 1.5%;
    border-radius: 100px;
}
.div-girls-picture{
    position: relative;
    width: 40%;
    height: 100%
}
.div-girls-picture .girls{
    position: absolute;
    right: 0;
}
.body-of-the-page{
    width: 100vw;
    height: 300vh;
}
.second-screen{
    height: 100vh;
    width: 100vw;
    margin-bottom: 5%;
}
.body-of-the-page h1{
    padding: 3% 3% 1% 3% ;
}
.line{
    background-color: red;
    width: 4%;
    height: 4px;
    margin-left: 10%;
}
.items-collection{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 7%;
}
.items-collection .photo{
    width: 23%;
    height: 70vh;
    border-radius: 35px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
    margin-right: 2%;
}
.items-collection .photo img{
    width: 100%;
    height: 60%;
}
.items-collection .photo h4{
    padding-left: 6%;
    padding-top: 5%;
}
.items-collection .photo p{
    padding: 2% 5% 5% 5%;
}
.items-collection .photo .price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10% 15% 0 5% ;
    align-items: center;
}
.items-collection .photo .price .plus-sign h1{
    margin-top: 3%;
} 
.items-collection .photo .price h2 span{
    color: brown;
    margin-right: 5%;
}
.items-collection .photo .price .plus-sign{
    width: 20%;
    height: 10%;
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: brown;
}
.discount-image{
    width: 100vw;
    height: 61vh;
    background-image: url('pictures/Screenshot\ 2023-11-23\ 103412.png');
    color: white;
}
.discount-image h3{
    padding: 3%;
    color: red;
}
.discount-image h1{
    font-size: 40px;
}
.discount-image h1 span{
    color: red;
}
.discount-image p{
    margin-top: 2%;
}
.discount-image p a{
    margin: 5%;
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.div-pictures-collection-2{
    padding-left: 3%;
    margin-bottom: 10vh;
}
.div-pictures-collection-2 .line-2{ 
    margin: 3% 10% 0% 10% ;
} 
.footer{
    width: 100vw;
    height: 40vh;
    background-color: rgb(24, 22, 22);
    color: white;
    display: flex;
}
.footer .footer-1{
    width: 35%;
    height: 100%;
}
.footer .footer-1 h1{
    color: rgb(172, 31, 31);
    padding-top: 10%;
    padding-left: 20%;
    font-size: 40px;
}
.footer .footer-1 p{
    padding-left: 20%;
    font-size: 20px;
}
.footer .footer-2{
    width: 30%;
    height: 100%;
}
.footer .footer-2 h2{
    margin: 5% 0% 2% 10%;
}
.footer .line-2{
    background-color: rgb(255, 0, 0);
    width: 20%;
    height: 2%;
    margin-left: 60px;
    border: black;
    border-radius: 5px;
    margin-bottom: 4%;
}
.footer .footer-2 p{
    padding-left: 10%;
    padding-bottom: 5%;
}
.footer .footer-2 img{
    margin-right: 5%;
}
.footer .footer-3{
    width: 15%;
    height: 100%;
}
.footer .footer-3 h2{
    margin: 10% 0% 2% 10%;
}
.footer .line-3{
    background-color: rgb(255, 0, 0);
    width: 40%;
    height: 2%;
    margin-left: 60px;
    border: black;
    border-radius: 5px;
    margin-bottom: 4%;
}
.footer .footer-3 ul{
    padding-left: 20%;
}
.footer .footer-3 ul li{
    padding-top: 5%;
}
.footer .footer-3 ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.footer .footer-4{
    width: 20%;
    height: 100%;
}
.footer .footer-4 h2{
    margin: 6% 0% 2% 10%;
}
.footer .line-4{
    background-color: rgb(255, 0, 0);
    width: 30%;
    height: 2%;
    margin-left: 60px;
    border: black;
    border-radius: 5px;
    margin-bottom: 4%;
}
.footer2{
    width: 100vw;
    height: 15vh;
    background-color: rgb(24, 22, 22);
    color: white;
}
.line-5{
    margin: 0 10%;
    color: white;
}
.footer2 footer{
    display: flex;
    margin: 2% 30%;
}
.footer2 footer i{
    color: white;
}
.footer2 footer .word-e-shop{
    color: rgb(131, 8, 8);
}